extends ./layouts/main.pug
block content
  main.mt-5
    div.container
      //-
        Section examples
      section#news.text-center
        //-
          Heading
        h2.mb-5.font-weight-bold Stunning Examples
        //-
          Grid row
        div.row
          //-
            Grid column
          div.col-lg-4.col-md-12.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DPWJIzMVAAEVl-h.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.
          //-
            Grid column
          div.col-lg-4.col-md-6.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DTltiEvW0AEoGaI.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.
              
          //-
            Grid column
          div.col-lg-4.col-md-6.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DUGpzT1VoAApj_7.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.
